@import '../../../constants/scss/classes.scss';

/* Colors */
$casingColor : black;
$goodColor : darkgreen;
$goodBGColor : lightgreen;
$badColor : red;
$badBGColor : #faa;

/* Sizes */
$genericBorderRadius : 5px;


.groupTestContainer {
  border-bottom: 1px solid $casingColor;
  padding-top: 5px;
}

.groupTestContainer .groupTestTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.groupTestContainer .groupTimeStamp {
  padding: 0 10px;
}

.testContainer {
  background-color: #444;
  border: 1px solid $casingColor;
  border-radius: $genericBorderRadius;
  color: white;
  margin: 10px;
  padding: 5px;
}

.testContainer .header {
  @include disableSelection();
  display: table;
  cursor: pointer;
  white-space: nowrap;
}
.testContainer .header .testStats_brief {
  border-radius: $genericBorderRadius * 2;
  color: black;
  display: table-cell;
  padding: 2px 10px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}
.testContainer .header .testStats_brief.pass {
  background-color: $goodBGColor;
}
.testContainer .header .testStats_brief.fail {
  background-color: $badBGColor;
}
.testContainer .header .title {
  display: table-cell;
  font-weight: bold;
  overflow: hidden;
  padding-left: 10px;
  vertical-align: middle;
  white-space: nowrap;
}

.testContainer .timeStamp {
  color: white;
  margin: 5px 5px 0 5px;
  text-align: left;
}

.testContainer .testResults {
  // Container for the asserts (successful and unsuccessful)
}

.testContainer .assert {
  border-radius: $genericBorderRadius;
  margin: 5px;
  padding: 5px;
}

.testContainer .successfulTest {
  background-color: $goodBGColor;
  color: $goodColor;
}

.testContainer .unsuccessfulTest {
  background-color: $badBGColor;
  color: $badColor;
}