@import '../../../constants/scss/classes.scss';

/* Colors */
$casingColor : black;
$goodColor : darkgreen;
$goodBGColor : lightgreen;
$badColor : red;
$badBGColor : #faa;

/* Sizes */
$genericBorderRadius : 5px;


.groupTestContainer {
  border-bottom: 1px solid $casingColor;
  padding-top: 10px;
}

.groupTestContainer .groupTestTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.testContainer {
  background-color: #444;
  border: 1px solid $casingColor;
  border-radius: $genericBorderRadius;
  color: white;
  margin: 10px;
  padding: 5px;
}

.testContainer .header {
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.testContainer .assert {
  border-radius: $genericBorderRadius;
  margin: 5px;
  padding: 5px;
}

.testContainer .successfulTest {
  background-color: $goodBGColor;
  color: $goodColor;
}

.testContainer .unsuccessfulTest {
  background-color: $badBGColor;
  color: $badColor;
}