#siteNavigation {
  left: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 150px; }

#siteNavigation .handle {
  border: 1px solid blue;
  position: absolute;
  right: 0;
  height: 100%;
  width: 10px; }

#siteNavigation .logoContainer {
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%; }

#siteNavigation .actions {
  background-color: gray;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 50px;
  padding: 5px;
  width: 129px; }

#siteNavigation .actions .mainAction {
  display: inline-block;
  padding: 5px 0;
  width: 100%; }

#siteNavigation .actions .mainAction.link {
  color: white;
  text-decoration: none; }

#siteNavigation .actions .mainAction.link:hover {
  font-weight: bold;
  text-decoration: underline; }
