#siteNavigation {
  left: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 150px;
  z-index: 1; }

#siteNavigation .panel {
  background-image: linear-gradient(gray, black);
  border: 1px solid black;
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: -15px;
  top: 50px;
  width: 165px; }

.handle.openState, .handle.closeState {
  background-image: linear-gradient(blue, darkblue);
  height: 100%;
  position: absolute;
  top: 0;
  width: 10px; }

.handle.openState {
  right: 0; }

.handle.closeState {
  border-radius: 15px;
  left: -15px;
  top: 50px;
  width: 25px; }

#siteNavigation .logoContainer {
  height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }

#siteNavigation .logoContainer .logo.outer {
  background-image: linear-gradient(blue, darkblue);
  border-radius: 15px;
  bottom: 0;
  display: table;
  left: 0;
  height: 50%;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
  width: 80%;
  vertical-align: middle; }

#siteNavigation .logoContainer .logo.inner {
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

#siteNavigation .actions {
  padding: 5px;
  width: 159px; }

#siteNavigation .actions .mainAction {
  display: inline-block;
  padding: 5px 0;
  width: 112.5px; }

#siteNavigation .actions .mainAction.link {
  color: white;
  font-weight: bold;
  text-decoration: none; }

#siteNavigation .actions .mainAction.link:hover {
  background-image: linear-gradient(blue, darkblue); }

#siteNavigation .actions .mainAction.link:not(.first) {
  border-top: 1px solid #ccc; }

#siteNavigation .panel .options {
  position: absolute;
  bottom: 55px;
  width: 80%; }

#siteNavigation .panel .options {
  color: white; }

#siteNavigation .panel .optionItem {
  background-image: linear-gradient(#3333ff, #2222ff);
  border: 1px solid black;
  border-radius: 15px; }
